.footer{

    width:100%;

    margin-top:50px;

}

.footer-info{

    width:min(1250px,92%);

    margin:auto;

    background:#121d32;

    border-radius:18px;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;

    padding:25px;

    box-shadow:0 0 15px rgba(0,0,0,.3);

}

.footer-card{

    display:flex;

    align-items:center;

    gap:18px;

    padding:15px;

    border-radius:12px;

    transition:.3s;

}

.footer-card:hover{

    background:#182746;

}

.footer-icon{

    font-size:34px;

    padding:10px;

    border-radius:50%;

    color:white;

}

.blue{

    background:#00c8ff;

}

.purple{

    background:#8b5cf6;

}

.green{

    background:#22c55e;

}

.footer-card p{

    color:#9ca3af;

    font-size:15px;

    margin-bottom:5px;

}

.footer-card h4{

    color:white;

    font-size:20px;

}

.copyright{

    margin-top:20px;

    text-align:center;

    color:#9ca3af;

    padding-bottom:20px;

    font-size:15px;

}

@media(max-width:900px){

.footer-info{

grid-template-columns:1fr;

}

.footer-card{

justify-content:flex-start;

}

}