.live-chart{

    width:100%;

    margin-top:50px;

    background:#141414;

    border-radius:20px;

    padding:25px;

    box-sizing:border-box;

    border:1px solid #262626;

    box-shadow:
    0 0 25px rgba(0,0,0,.35);

}

.chart-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

.chart-header h2{

    color:white;

    font-size:26px;

    font-weight:700;

}

.chart-header span{

    color:#8f8f8f;

    font-size:15px;

}

.chart-wrapper{

    width:100%;

    height:380px;

}

/* Laptop */

@media(max-width:1200px){

.chart-wrapper{

height:340px;

}

}

/* Tablet */

@media(max-width:900px){

.live-chart{

padding:20px;

}

.chart-header{

flex-direction:column;

align-items:flex-start;

gap:8px;

}

.chart-header h2{

font-size:22px;

}

.chart-wrapper{

height:320px;

}

}

/* Mobile */

@media(max-width:600px){

.live-chart{

padding:15px;

border-radius:15px;

}

.chart-header h2{

font-size:18px;

}

.chart-header span{

font-size:13px;

}

.chart-wrapper{

height:250px;

}

}