.start-btn{

margin-top:15px;

width:220px;

height:55px;

border:none;

border-radius:35px;

background:#14c7ff;

color:black;

font-size:22px;

font-weight:bold;

transition:.3s;

}

.start-btn:hover{

transform:translateY(-4px);

box-shadow:0 0 20px #14c7ff;

}